@font-face {
  font-family: GolosUiBold;
  font-display: swap;
  src: url("../fonts/GOLOS-UI_BOLD.woff2") format("woff2"), url("../fonts/GOLOS-UI_BOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: GolosUiMedium;
  font-display: swap;
  src: url("../fonts/GOLOS-UI_MEDIUM.woff2") format("woff2"), url("../fonts/GOLOS-UI_MEDIUM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GolosUi;
  font-display: swap;
  src: url("../fonts/GOLOS-UI_REGULAR.woff2") format("woff2"), url("../fonts/GOLOS-UI_REGULAR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}